@import "~bootstrap/scss/bootstrap";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  background: linear-gradient(to left, rgba(94, 92, 207, 0.932), rgba(66, 64, 212), rgb(47, 45, 173));}
